@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
}
/* the head section */
.head-section {
  height: 272px;
  background: linear-gradient(135deg, #4f39f6 0%, #9810fa 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.little-title {
  width: 189.82px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 7px 15px;
  border-radius: 2.68435e7px;
  box-sizing: content-box;
  margin-bottom: 1.5rem;
}

.little-title div:last-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #ffffff;
}

.main-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}

.main-title span {
  color: #53eafd;
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #dbeafe;
  padding-top: 1%;
}

body {
  background: #fff;
  color: #0f172a;
  margin: 0% 0%;
}
/*this is the whole div*/
#container {
  margin: 2% 5%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3%;

}

#Coordinates {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  align-items: center;
  padding: 0%;
  gap: 30px;
}


.a_coordinate {
  width: 100%;
  padding: 9% 5%;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.the_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.name_coordi,
.the_adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #0f172a;
}
.explanaition {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #64748b;
}
#message {
  width: 100%;
  padding: 2.5% 3%;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.the_message_intro {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#the_message_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #0f172a;
}
#the_message_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #64748b;
}
#name_entered {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5%;
}
#the_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3px;
  width: 100%;

}
label {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #0f172a;
}
input,
#submit_btn,
textarea {
  width: 100%;
  height: 36px;
  font-size: 16px;
  color: #64748b;
  background: #f8fafc;
  border: 1px solid #f8fafc;
  padding: 0 2%;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #64748b;
}
#message_text {
  height: auto;
  overflow: hidden;
  height: 64px;
  background: #f8fafc;
  border-radius: 10px;
  width: 100%;
  display: block;
}
#submit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2563eb;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
  gap: 2%;
}
#submit_btn:hover {
  background: #2563eb;
  opacity: 90%;
}
textarea:focus-within {
  outline: none;
  border: 1px solid #2563eb;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}
input:focus-within {
  outline: none;
  border: 1px solid #2563eb;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

@media (max-width: 900px) {
  #container {
    margin: 2% 12%;
    padding: 1%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
  }
  #Coordinates {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0%;
    gap: 30px;
  }
  .a_coordinate {
  width: 100%;
  padding: 2% 3%;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
}
@media (max-width: 700px) {
    #the_form #name_entered {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
    }
    #container {
    margin: 2% 5%;
    padding: 1%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
  }

  }
@media (max-width: 600px) {
  .description {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  text-align: center;
  color: #dbeafe;
  padding-top: 1%;
}

.main-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}
#the_message_title {
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: #0f172a;
}
#the_message_text {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #64748b;
}
label {
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  color: #0f172a;
}
input,
#submit_btn,
textarea {
  font-size: 13px;
}
.name_coordi,
.the_adress, .explanaition {
  font-size: 15px;
}
}
@media (max-width: 500px) {
  .description {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  color: #dbeafe;
  padding-top: 1%;
}

.main-title {
  font-weight: 400;
  font-size: 38px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}
  #container {
    margin: 2% 1%;
    padding: 1%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
  }

}
@media (max-width: 400px) {
  .description {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  color: #dbeafe;
  padding-top: 1%;
}

.main-title {
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}
  #container {
    margin: 2% 1%;
    padding: 1%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
  }

}